Support for non-ephemeral key exchanges

I'm dealing with a server that doesn't support any of the ciphersuites defined by rustls. I'm attempting to define the `TLS_RSA_WITH_AES_256_GCM_SHA384` cipher suite in my application so I can connect to it, but I'm running into an issue. Rustls throws an error during the handshake phase: `TlsParseFailed(InappropriateHandshakeMessage { expect_types: [ServerKeyExchange], got_type: ServerHelloDone })`.

I believe rustls is wrong in this case. The `TLS_RSA_WITH_AES_256_GCM_SHA384` cipher suite uses the `RSA` key exchange algorithm. This key exchange algorithm is classified "non-ephemeral" and the spec ([RFC 5246 section 7.4.3](https://tools.ietf.org/html/rfc5246#section-7.4.3)) prescribes that it is illegal to send the `ServerKeyExchange` message for non-ephemeral key exchange algorithms.

This issue might be somewhat related to #137 because s2n does handle this case correctly.

I'm currently attempting to develop a fix. I'm not familiar with TLS and the rustls codebase so I'm learning as a I go along.

That is very weird. The server should have rejected the ClientHello sent by rustls in the first instance (because it didn't offer any support ciphersuites), but failing that rustls will have rejected the ServerHello selecting a non-offered ciphersuite (there's a test for this specific case). Both of these things should have happened before rustls rejects the missing ServerKeyExchange.

But yes, the lack of support for static RSA key exchange is a feature, and is baked into the handshake state machine.