use server cert for parent domain if no cert present

Within `ResolvesServerCertUsingSNI`, subdomains should be resolved to parent domains if there is no specific certificate for them. The behaviour should change in cases like this:

* SNI says `test.example.com`
* no certificate for that name present
* certificate for parent domain `example.com` is present, which is selected instead

This concept comes from RFC 5280:
> When comparing DNS names for equality, conforming implementations MUST perform a case-insensitive exact match on the entire DNS name. When evaluating name constraints, conforming implementations MUST perform a case-insensitive exact match on a label-by-label basis.  As noted in Section 4.2.1.10, ***any DNS name that may be constructed by adding labels to the left-hand side of the domain name given as the constraint is considered to fall within the indicated subtree.***
> -- [RFC 5280, section 7.2](https://tools.ietf.org/html/rfc5280#section-7.2); emphasis mine

The code in question is probably this:
https://github.com/ctz/rustls/blob/1721e5188f030aa13039753de25f77ff7cbba867/rustls/src/server/handy.rs#L178-L187

Is this something that could be added?

@Johann150 The part of the spec that you're quoting is about name constraints, not about name matching, so I don't think it's relevant to this.

A certificate for "example.com" is not valid for "subdomain.example.com" so it wouldn't make sense to use it when the SNI is indicating the subdomain, so the behavior you're requesting doesn't seem like it would result in correct or useful behavior. If the certificate is for "*.example.com" then it would make sense. Maybe we need to add better support for using wildcard certs?

Otherwise, could you give an example of why a client would put "subdomain.example.com" in SNI but accept a certificate for "example.com"?

Yes, that was what I was thinking of.

This is probably related to briansmith/webpki#103 then.

In the example given above, one would call `ResolvesServerCertUsingSNI::add("test.example.com",  <wildcard cert for *.example.com>)` to get the desired behaviour.

But it sounds like you're asking for quite different behaviour from `ResolvesServerCertUsingSNI`: for it to discover the names supported by a certificate, and automatically return the right certificate based on that. In that case, that would be a different thing from `ResolvesServerCertUsingSNI`, and it would really want a trie or other data structure to do it well.


A trie would be a good idea. Although I have realized that this is less general than I initially thought. So if you think this is not an issue with rustls, feel free to close this.
I implemented what I meant [here](https://github.com/mbrubeck/agate/blob/a5425e3a9a32cf503cba90719dbd7fb69bd0e943/src/certificates.rs#L213-L231) and [here](https://github.com/mbrubeck/agate/blob/a5425e3a9a32cf503cba90719dbd7fb69bd0e943/src/certificates.rs#L182-L196). So the use case is a protocol ([Gemini](http://geminiprotocol.com/)), whose use of TLS certificates is a bit rough and probably quite a niche case.